nav {
  .navbar-brand[href] {
    background-image: url('/logos/djdavid98-dark.svg');
    width: 6rem;
    padding: 0;
    margin: 0;
    height: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &.navbar.fixed-top {
    @include media-breakpoint-down(md) {
      max-height: 100vh;
      overflow-y: auto;
    }

    + :not(.start-at-top) {
      // height + border
      @extend %navbar-spacing;
    }
  }
}
