@import '../vars';

.twitter-color {
  color: $twitter;
}

.deviantart-color {
  color: $deviantart;
}

.furaffinity-color {
  color: $furaffinity;
}

.patreon-color {
  color: $patreon;
}

.vk-color {
  color: $vk;
}
