@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.page-section {
  &::after {
    display: block;
    clear: both;
    content: '';
  }

  &:not(:last-child) {
    margin-bottom: 1rem;

    @include media-breakpoint-up(m) {
      margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      margin-bottom: 2rem;
    }
  }
}

.lesbian-flag img {
  height: 1em;
  width: 1.77em;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  bottom: -0.1em;
}

.few-words-quote {
  padding: 1rem;
  border: 1px solid $secondary;
  border-left-width: 3px;
  background-color: rgba($secondary, 0.05);
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;

  &:before {
    content: '“';
    font-size: 7rem;
    opacity: 0.1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: -1.5rem;
    right: 0.5rem;
    z-index: 1;
  }

  > * {
    z-index: 2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.oc-form-section {
  display: block !important;

  @media (min-width: 1500px) {
    display: flex !important;
    justify-content: stretch;
    flex-flow: row nowrap;

    .ref-sheet-wrapper {
      margin: 0;
      float: none;
    }
  }

  .ref-sheet-wrapper {
    width: 100%;
    margin-bottom: 1rem;

    .sheet-image {
      cursor: zoom-in;
      border-radius: 0.5rem;

      @include media-breakpoint-up(xl) {
        border-radius: 0.75rem;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 50%;
      margin: 0 2rem 0.5rem 0;
      float: left;
    }
  }
}
