@mixin bumpy-background($color: 'white', $height: 12px) {
  $width: bumpy-bg-width($height);
  background-repeat: repeat-x;
  background-size: rem($width) rem($height);
  background-image: url('/bumps-#{$color}.svg');
  overflow: hidden;
}

@mixin stampy-background($color: 'white', $height: 10px, $bottom: false) {
  $real-height: $height * 2;
  $width: stampy-bg-width($height);
  background-repeat: repeat-x;
  background-size: rem($width) rem($real-height);
  background-image: url('/stamp-#{$color}.svg');
  @if ($bottom) {
    background-position: 0 0;
  } @else {
    background-position: 0 #{-$height};
  }
  overflow: hidden;
}

@mixin contact-card($color, $name) {
  $yiq-color: color-yiq($color);

  &.contact-card-#{$name} {
    background-color: $color;
    background-image: linear-gradient(to bottom, rgba(white, 0.05) 0%, rgba(black, 0.15) 100%);

    *,
    .btn-link,
    .btn-link:hover,
    .btn-link:active {
      color: $yiq-color !important;
    }

    .btn-link:focus {
      box-shadow: 0 0 0 $input-btn-focus-width rgba($yiq-color, 0.8);
    }

    .contact-card-icon {
      filter: drop-shadow(0 0 0.2rem darken($color, 20%));
    }
  }
}
